.tip_container
  background: #9f9
  padding: 10px 10px 10px 15px
  border-left: 5px #050 solid
  color: #333

.tip_container__title,
.upd_container__title
  margin: 10px 0

.tip_container > p:last-child,
.tip_container > p:last-child > a
  color: #333
  line-height: 1.5rem

.tip_container > p:last-child > a
  text-decoration: underline

.upd_container
  background: #fff1d6
  padding: 10px 10px 10px 15px
  border-left: 5px #e09305 solid
  color: #333
