.tip
  background: #9f9
  padding: 10px 10px 10px 15px
  border-left: 5px #050 solid
  color: #333

.tip__title
  margin: 10px 0

.tip > p:last-child,
.tip > p:last-child > a
  color: #333
  line-height: 1.5rem

.tip > p:last-child > a
  text-decoration: underline

