@tailwind base;
@tailwind components;
@tailwind utilities;

@require "./code"
@require "./container"

@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans:300,400")
@import "~prismjs/themes/prism-tomorrow.css"

.font-noto
  font-family: "Noto Serif", serif

.font-open
  font-family: "Open Sans", sans-serif

.font-open-light
  font-family: "Open Sans", sans-serif
  font-weight: 300
