@tailwind preflight;
@tailwind components;
@tailwind utilities;

@require './code'

.font-noto
  font-family: 'Noto Serif', serif

.font-open
  font-family: 'Open Sans', sans-serif

.font-open-light
  font-family: 'Open Sans', sans-serif
  font-weight: 300
